# Local Claude settings
**/.claude/settings.local.json

# Editor directories and files
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python virtual environments
*.venv
*__init__.py
*__pycache__/
api2mcp_servers/
